In [152]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.metrics import accuracy_score

In [12]:
raw_data = pd.read_csv('loan.csv')

G:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
raw_data.isnull().sum()

id                                  0
member_id                           0
loan_amnt                           0
funded_amnt                         0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
emp_title                       51462
emp_length                      44825
home_ownership                      0
annual_inc                          4
verification_status                 0
issue_d                             0
loan_status                         0
pymnt_plan                          0
url                                 0
desc                           761351
purpose                             0
title                             152
zip_code                            0
addr_state                          0
dti                                 0
delinq_2yrs                        29
earliest_cr_line                   29
inq_last_6mths                     29
mths_since_last_delinq         454312
mths_since_last_record         750326
                                ...
collection_recovery_fee             0
last_pymnt_d                    17659
last_pymnt_amnt                     0
next_pymnt_d                   252971
last_credit_pull_d                 53
collections_12_mths_ex_med        145
mths_since_last_major_derog    665676
policy_code                         0
application_type                    0
annual_inc_joint               886868
dti_joint                      886870
verification_status_joint      886868
acc_now_delinq                     29
tot_coll_amt                    70276
tot_cur_bal                     70276
open_acc_6m                    866007
open_il_6m                     866007
open_il_12m                    866007
open_il_24m                    866007
mths_since_rcnt_il             866569
total_bal_il                   866007
il_util                        868762
open_rv_12m                    866007
open_rv_24m                    866007
max_bal_bc                     866007
all_util                       866007
total_rev_hi_lim                70276
inq_fi                         866007
total_cu_tl                    866007
inq_last_12m                   866007
Length: 74, dtype: int64

In [14]:
raw_data.drop(['desc','mths_since_last_delinq','mths_since_last_record','next_pymnt_d','mths_since_last_major_derog','annual_inc_joint','dti_joint','verification_status_joint','open_acc_6m','open_il_6m','open_il_12m','open_il_24m','mths_since_rcnt_il','total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util','inq_fi','total_cu_tl','inq_last_12m'],axis=1,inplace=True)

In [15]:
raw_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,Jan-2015,171.62,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,Jun-2014,649.91,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,Jan-2015,357.48,Jan-2015,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,Jan-2016,67.79,Jan-2016,0.0,1.0,INDIVIDUAL,0.0,NaN,NaN,NaN

In [42]:
raw_data.isnull().sum()

loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                     51462
emp_length                    44825
home_ownership                    0
annual_inc                        4
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
purpose                           0
title                           152
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                      29
earliest_cr_line                 29
inq_last_6mths                   29
open_acc                         29
pub_rec                          29
revol_bal                         0
revol_util                      502
total_acc                        29
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                  17659
last_pymnt_amnt                   0
last_credit_pull_d               53
collections_12_mths_ex_med      145
policy_code                       0
application_type                  0
acc_now_delinq                   29
tot_coll_amt                  70276
tot_cur_bal                   70276
total_rev_hi_lim              70276
dtype: int64

In [17]:
raw_data.to_csv('LoanDataset.csv')

In [22]:
raw_data.drop(['id'],axis=1,inplace=True)

In [24]:
raw_data.drop(['member_id'],axis=1,inplace=True)

In [91]:
raw_data.drop(['policy_code'],axis=1,inplace=True)

In [92]:
raw_data.shape

(887379, 49)

In [94]:
raw_data.drop(['emp_title'],axis=1,inplace=True)

In [95]:
raw_data.drop(['url'],axis=1,inplace=True)

In [101]:
raw_data.drop(['funded_amnt','funded_amnt_inv'],axis=1,inplace=True)

In [105]:
raw_data.drop(['last_pymnt_d'],axis=1,inplace=True)

In [106]:
raw_data.drop(['title','zip_code','addr_state','earliest_cr_line','last_credit_pull_d'],axis=1,inplace=True)

In [107]:
raw_data.drop(['grade'],axis=1,inplace=True) #can be removed because sub_grade can be used in place of grade

In [110]:
raw_data.isnull().sum()

loan_amnt                         0
term                              0
int_rate                          0
installment                       0
sub_grade                         0
emp_length                    44825
home_ownership                    0
annual_inc                        4
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
purpose                           0
dti                               0
delinq_2yrs                      29
inq_last_6mths                   29
open_acc                         29
pub_rec                          29
revol_bal                         0
revol_util                      502
total_acc                        29
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_amnt                   0
collections_12_mths_ex_med      145
application_type                  0
acc_now_delinq                   29
tot_coll_amt                  70276
tot_cur_bal                   70276
total_rev_hi_lim              70276
dtype: int64

In [113]:
raw_data['tot_coll_amt'] = raw_data['tot_coll_amt'].fillna(raw_data['tot_coll_amt'].mean())
raw_data['tot_cur_bal'] = raw_data['tot_cur_bal'].fillna(raw_data['tot_cur_bal'].mean())
raw_data['total_rev_hi_lim'] = raw_data['total_rev_hi_lim'].fillna(raw_data['total_rev_hi_lim'].mean())

In [115]:
raw_data['emp_length'] = raw_data['emp_length'].fillna('6 years')

In [119]:
raw_data.dropna(inplace=True)

In [130]:
term = pd.get_dummies(raw_data['term'],drop_first=True)
sub_grade = pd.get_dummies(raw_data['sub_grade'],drop_first=True)
emp_length = pd.get_dummies(raw_data['emp_length'],drop_first=True)
home_ownership = pd.get_dummies(raw_data['home_ownership'],drop_first=True)
verification_status = pd.get_dummies(raw_data['verification_status'],drop_first=True)
pymnt_plan = pd.get_dummies(raw_data['pymnt_plan'],drop_first=True)
purpose = pd.get_dummies(raw_data['purpose'],drop_first=True)
initial_list_status = pd.get_dummies(raw_data['initial_list_status'],drop_first=True)
application_type = pd.get_dummies(raw_data['application_type'],drop_first=True)

raw_data = pd.concat([raw_data,term,sub_grade,emp_length,home_ownership,verification_status,pymnt_plan,purpose,initial_list_status,application_type],axis =1)

In [135]:
raw_data.drop(['term','sub_grade','emp_length','home_ownership','verification_status','pymnt_plan','purpose','initial_list_status','application_type'],axis =1,inplace=True)

In [140]:
raw_data.drop(['issue_d'],axis=1,inplace=True)

In [141]:
X = raw_data.drop(['loan_status'],axis=1)
Y = raw_data['loan_status']
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.3, random_state = 25)

In [142]:
RFC_model = RFC()

In [143]:
RFC_model.fit(X_train,Y_train)

G:\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [149]:
predictions = RFC_model.predict(X_test)

In [153]:
# acc = RFC_model.score(X_test,predictions)
accuracy_score(Y_test,predictions)

0.9649738751268654